.home-container {
	position: relative;
	z-index: 1;
	margin-top: 450px;
	text-align: center;
}

.timeline-title {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 50px;
}

h3 {
	transition: all var(--transition)
}

p {
	transition: all var(--transition)
}


/* Линия таймлайна */
#timeline {
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

/* Главная вертикальная полоса таймлайна */
#timeline::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	background: var(--timeline-color);
	transform: translateX(-50%);
	border-radius: 2px;
	transition: all var(--transition);
}

/* Контейнер таймлайна */
.timeline-container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

/* Блоки событий */
.timeline-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
	position: relative;
}

/* Чередование сторон */
.timeline-item.right {
	justify-content: flex-end;
}

/* Оформление карточек */
.timeline-content {
	width: 45%;
	padding: 20px;
	border-radius: 12px;
	background: var(--card-bg-color);
	backdrop-filter: blur(12px);
	text-align: left;
	transition: all var(--transition);
}

.timeline-connector {
	position: absolute;
	width: 48px;
	height: 4px;
	background: var(--timeline-color);
	top: 50%;
	transition: all var(--transition);

}

.timeline-item.left .timeline-connector {
	right: calc(50% + 2px);
	transform: translateY(-50%);
}

.timeline-item.right .timeline-connector {
	left: calc(50% + 2px);
	transform: translateY(-50%);
}

/* Год */
.timeline-year {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 30px 0;
}

.year-text {
	font-size: 25px;
	font-weight: bold;
	color: var(--timeline-color);
	background: var(--bg-color);
	padding: 8px 16px;
	border-radius: 16px;
	border: 3px solid var(--timeline-color);
	display: inline-block;
	position: relative;
	z-index: 2;
	transition: all var(--transition);
}

.timeline-year::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 4px;
	background: var(--bg-color);
	transform: translate(-50%, -50%);
	z-index: 1;
	transition: all var(--transition)
}

/* Дата в карточке */
.timeline-date {
	font-weight: bold;
	color: var(--timeline-color);
	display: block;
	margin-bottom: 10px;
	transition: all var(--transition)
}

/* Адаптивность */
@media (max-width: 768px) {
	.timeline-item {
		flex-direction: column;
		align-items: center;
	}

	.timeline-content {
		width: 90%;
		text-align: center;
	}

	.timeline-connector {
		display: none;
	}

	#timeline::before {
		left: 10px;
	}
}